.App {
  text-align: center;
}

:root {
  --pie-color: #16ba16;
}

.header {
  padding: 10px;

  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
}
.question-container {
  min-width: 300px;
  width: 60%;
  border-radius: 15px;
  margin-top: 30px;
  text-align: left;
  padding: 15px;
}

.question {
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 15px;
}
.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.non-clickable {
  pointer-events: none;
}
.option {
  height: 40px;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  background-color: white;
  border-radius: 40px;
  border: solid 1px rgb(188, 188, 188);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.option:hover {
  transform: scale(1.02);
}

.option:active {
  transform: scale(0.98);
}

.option-selected {
  background-color: rgb(0, 119, 255);
  color: white;
  font-weight: bold;
}

.option-correct {
  background-color: #16ba16;
  color: white;
  font-weight: bold;
}

.option-wrong {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.button-outlined {
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  background-color: white;
  width: 45%;
  color: rgb(0, 119, 255);
  font-weight: bold;
  font-size: large;
  border: solid 2px rgb(0, 119, 255);
  border-radius: 22px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.button-outlined:hover {
  background-color: #16ba16;
  border: solid 2px #16ba16;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.button-outlined:active {
  transform: scale(0.95);
}

.button-full {
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  background-color: rgb(0, 119, 255);
  width: 45%;
  color: white;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 22px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.button-full:hover {
  background-color: #16ba16;
  border: solid 2px #16ba16;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.button-full:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
  }
  .button-full {
    width: 100%;
    margin-bottom: 20px;
  }
  .button-outlined {
    width: 100%;
    margin-bottom: 20px;
  }
  .results-container {
    flex-direction: column;
  }
}

.progress-bar {
  height: 10px;
  background-color: #ff0000;
  margin: 20px 0;
  border-radius: 10px;
}

.filler {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(0, 119, 255);
}

.final-score-text {
  font-family: "Grand Hotel", cursive;
  font-family: "Mooli", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

@property --pie-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: conic-gradient(
    var(--pie-color) var(--pie-percent),
    rgb(223, 223, 223) var(--pie-percent)
  );
  transition: var(--pie-percent) circle 1.5s;
}

.pie-filler {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
}
